<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ca</title>
</head>
<body>
    <h1> CATALOG</h1>
    <ul>
    <li><a href="/catalog/123">Product 123</a></li>
    <li><a href="/catalog/456">Product 456</a></li>
    <li><a href="/catalog/789">Product 789</a></li>
    
    </ul>
    
</body>
</html>